body {
    font-family: Arial, sans-serif;
    background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#volver,
#exit{
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.container {
    max-width: 400px;
    padding: 20px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#menu .options {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#menu .options a {
    text-decoration: none;
}

#menu .options span,
p {
    display: inline-block;
}

.container img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
    color: #000;
    margin: 0 auto 30px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    color: #000;
}

.container input[type="email"],
.container input[type="password"],
.container input[type="text"],
.container input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#pass,
#pass-index {
    margin-bottom: 15px;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#compra-pasajes {
    max-width: 100%;
}

.listadoPasajes div {
    padding: 1rem;
    border-style: dashed;
    margin: 1rem 0 1rem 0;
}

#pasajeInfo{
    border-style: dashed;
    padding: 1rem;
    margin: 0 auto;
}

.listadoPasajes div button {
    margin-top: 1rem;
}

.listadoPasajes h3{
    color: #0066cc;
}

.listadoPasajes{
    text-align: center;
}

#btnComprar {
    width: 10rem;
    margin: 1rem auto 0;
}

.listadoPasajes button {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.option-container {
    border-style: dashed;
    margin: 1rem auto;
    padding: 0 1rem 1rem 1rem;
}

.container button:hover {
    background-color: #45a049;
}

.container .register {
    text-align: center;
    margin-top: 10px;
}

.container .register a {
    color: #0066cc;
    text-decoration: none;
}

.container .register a:hover {
    text-decoration: underline;
}

.container .welcome {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 10px;
}

.welcome {
    font-size: 15px;
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
}

#fecha-nac {
    margin-top: 0;
}

#spanfecha {
    display: block;
    margin: 15px auto;
    padding-bottom: 0;
}

.container .eliminarVuelo{
    background-color: red;
    color: white;
    width: 10rem;
    margin: 0 auto;
    display: block;
}

.container .eliminarVuelo:hover{
    background-color: rgb(161, 0, 0);
    color: white;
}

#linkElim{
    text-decoration: none;
}